/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: #333;
  }
  .container {
    max-width: 100%;
    padding: 20px;
  }
  .card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }